{% extends "base.html" %}

{% block extra-css %}
    <style type="text/css">
        /*.navbar-default {
            border: 1px solid #e7e7e7;
            background-color: #f8f8f8;
            margin: 0 0 20px;
        }*/

        .clinic-header {
            background: #ADD9C9;
            padding: 20px 0;
            margin: 0 0 20px;
        }

        .clinic-header h1 {
            text-align: left;
            font-size: 30px;
            line-height: 34px;
            padding: 0 10px;
        }

        #clinic-locator {
            width: 120px;
            height: 120px;
            float: right;
            margin: 0 0 10px 10px;
        }

        #clinic-locator .marker {
            display: block;
            height: 16px;
            width: 16px;
            border: 1px solid #fff;
            border-radius: 20px;
            background: #777;
        }

        .mapboxgl-ctrl-attrib {
            display: none;
        }

        .map-note {
            font-size: 14px;
            line-height: 16px;
        }
        .map-note a { 
            color: #aaa;
        }

        p {
            margin: 0 0 16px;
        }

        p.clinic-address {
            font-size: 20px;
        }

        p i {
            color: #ddd;
        }

        p a {
            color: #aaa;
        }

        p.clinic-categories {
            padding: 0 0 0 21px;
            text-indent: -11px;
        }

        p.clinic-hours, p.clinic-eligibility, p.clinic-languages {
            padding: 0 0 0 20px;
            text-indent: -10px;
        } 
        p.clinic-address {
            padding: 0 0 0 20px;
            text-indent: -9px;
        }

        .day-hours {
            text-transform: capitalize;
        }

        @media (min-width: 768px) {
            #clinic-locator {
                width: 300px;
                height: 300px;
            }
        }

        @media (min-width: 992px) {
            h1 {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            width: 970px;
            }
        }

/*        p {

        }*/


    </style>
{% endblock %}

{% block content %}

    <div class="clinic-header">
        <h1>{{ object.name }}</h1>
    </div>
    <div class="container">
        <div id="clinic-locator"></div>
        <p class="clinic-address"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.street }}<br/>{{ object.city }}, {{ object.state }} {{ object.zipcode }}</p>

        <p class="clinic-phone"><i class="fa fa-phone" aria-hidden="true"></i> {{ object.telephone }}</p>

        <!-- <div class="clr"></div> -->

        <p><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{ object.website }}">{{ object.website|truncatechars:30 }}</a></p>

        <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ object.email }}">{{ object.email }}</a></p>

        <p class="clinic-hours" id="clinic-hours"><i class="fa fa-clock-o" aria-hidden="true"></i> </p>

        <!-- <p>{{ object.as_dict }}</p> -->
        <!-- <p>{{ object.tuesday_hours }}</p> -->


        {% if object.eligibility != 'Not available' %}
            <p class="clinic-eligibility"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ object.eligibility }}</p>
        {% endif %}

        <p class="clinic-languages"><i class="fa fa-language" aria-hidden="true"></i> {% for language in object.languages %}{{ language }}<br/>{% endfor %}</p>

        

        <p class="clinic-categories"><i class="fa fa-flask" aria-hidden="true"></i> 
            {% for category in object.categories %}{{ category }}<br/>{% endfor %}
        </p>

        <p class="map-note">Map data <a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a> <a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap</a></p>


    </div>


    <script type="text/javascript">
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2NobGV1c3MiLCJhIjoicEtaaE54cyJ9.PWSVNlOtpDp0x1phUruQ9g';
        var map = new mapboxgl.Map({
            container: 'clinic-locator', // container id
            style: 'mapbox://styles/mapbox/light-v9', //stylesheet location
            center: [{{ object.location.x }},{{ object.location.y }}], // starting position
            zoom: 13 // starting zoom
        });

        var el = document.createElement('div');
        el.className = 'marker';
        new mapboxgl.Marker(el)
            .setLngLat([{{ object.location.x }},{{ object.location.y }}])
            .addTo(map);

        // add clinic's hours
        var clinicData = {{ object.as_json|safe }}
        var days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday'];

        for (var i = 0; i < days.length; i++) {
            if (clinicData.hours[days[i]].open != undefined) {
                var day = days[i];
                $("#clinic-hours").append("<span class='day-hours "+day+"-hours'>" +day+": " + clinicData.hours[day].open + " - " + clinicData.hours[day].close + "</span><br/>");
            }
        }

        // get users day of week
        var d = new Date();
        var weekday = new Array(7);
        weekday[0]=  "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        var userDay = weekday[d.getDay()];

        $("."+userDay.toLowerCase()+"-hours").css('color','#555');        

        console.log(clinicData.hours)

    </script>
{% endblock %}
