{% extends "base.html" %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
	<link href="https://fonts.googleapis.com/css?family=Kalam|Roboto" rel="stylesheet">

    <style type="text/css">
    
    </style>
{% endblock %}

{% block content %}
    <h1>get<br/><span class="site-name">tstd today</span></h1>

    <button class="btn" id="find_locations">Find clinics near me</button>

    <!-- List of prepopulated places based on user's IP -->

    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}