{% extends "base.html" %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Kalam:700|Roboto:500" rel="stylesheet">

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.css' rel='stylesheet' />
    <style type="text/css">
    
    </style>
{% endblock %}

{% block extra-js %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.js'></script>
{% endblock %}

{% block content %}

    <div id="ini-content">
        <h1>get<br/><span class="site-name">tstd today</span></h1>

        <button class="btn" id="find-locations">Find clinics near me</button>
    </div>

    <!-- List of prepopulated places based on user's IP -->
    <div id="results-list"></div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}