{% extends "base.html" %}

{% block extra-css %}

    <style type="text/css">
            p.clinic-hed {
                border-bottom: 2px solid #ccc;
                padding: 0 0 10px;
                margin: 20px 0;
            }
        @media (min-width: 768px) {
            #big-map {
                display: block;
                width: 100%;
                height: 200px;
                background: #eee;
            }


            #init-list ol li {
                float: left;
                display: block;
                background: #eee;
                width: 200px;
                height: 200px;
                margin: 0 20px 20px 0;
                padding: 14px;
            }

            #init-list ol li.clinic-open {
                background: #f9d8cc;
            }
            ol.clinic-list {
                padding: 0;
                max-width: 470px;
                padding-left: 20px;
                margin: 0 auto;
            }

            .clinic-name, .clinic-distance {
                float: none;
                width: 100%;
                text-align: left;
                margin: 0 0 5px;
            }

            .open-close-note {
                text-align: center;
                margin: 5px 0 20px;
            }

            .open-close-note br {
                display: none;
            }

            .open-close-note .clinic-status-icon {
                margin: 0 5px 0 15px;
            }
        }
    </style>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC2t8-7PsV54pTwFsbRwhZ0iidXNBu6-HM"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.geocodify.js"></script>

{% endblock %}

{% block content %}


    <div class="init-content">
        <!-- <h1>get<br/><span class="site-name">tstd today</span></h1> -->

        <div id="init-search-area">
            <h1>Find clinics near you</h1>

            <form class="form-inline" id="address-search">
                <div class="form-group">
                    <div class="input-group">
                        <!--<div class="input-group-addon" id="find-location"><i class="fa fa-location-arrow" aria-hidden="true"></i></div>-->
                            <input type="text" class="form-control" id="geocodify-basic-box" placeholder="Address">
                            <div class="input-group-addon magnify-addon"><i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container">
        <div class="init-content">
            <div>
                <p class="clinic-hed">Clinics in <span id="user-init-city">Los Angeles, CA</span></p>
            </div>

            <div id="big-map" class="init-content"></div>


            <div id="init-list">
                <p class='open-close-note'><span class='clinic-status-icon clinic-open'></span>These clinics are open now<br><span class='clinic-status-icon clinic-closed'></span>These are currently closed</p>
            </div>
        </div>

        <!-- List of prepopulated places based on user's IP -->
        <div id="results-list"></div>
    
    </div><!--.container-->
    <script>

        var windowWidth = document.documentElement.clientWidth;

        // get users day of week
        var d = new Date();
        var weekday = new Array(7);
        weekday[0]=  "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        var userDay = weekday[d.getDay()];
        var userTime = d.getHours()+":"+d.getMinutes();

        console.log(userTime);
        console.log({{ clinics|safe }})        


        // populate init list
        var items = [];
        $.each( {{ clinics|safe }}, function( key, val ) {
            // figure out if clinic is open for user's time

            // if open today
            if (val.hours[userDay.toLowerCase()] != false) {
                var openTime = +(val.hours[userDay.toLowerCase()].open.substring(0,2)+val.hours[userDay.toLowerCase()].open.substring(3,5));
                var closeTime = +(val.hours[userDay.toLowerCase()].close.substring(0,2)+val.hours[userDay.toLowerCase()].close.substring(3,5));
                var userTime = +(d.getHours().toString()+d.getMinutes().toString());

                console.log(val.hours[userDay.toLowerCase()]);
            }

            var clinicStatus = (val.hours[userDay.toLowerCase()] === false) ? "clinic-closed" :
                               (openTime < userTime && userTime < closeTime) ? "clinic-open" : "clinic-closed";


            var milesText = (windowWidth > 768) ? " miles" :
                            (key === 0) ? " miles" : ""; // show miles on first
            items.push( "<li id='clinic" + key + "' class='" + clinicStatus + "'><span class='clinic-name'><a href='"+val.href+"'>" + val.name + "</a></span><span class='clinic-distance'>" + val.distance.toFixed(1) + milesText + "</span></li>" );
        });

        $( "<ol/>", {
            "class": "clinic-list",
            html: items.join( "" )
        }).appendTo( "#init-list" );


        mapboxgl.accessToken = 'pk.eyJ1Ijoic2NobGV1c3MiLCJhIjoicEtaaE54cyJ9.PWSVNlOtpDp0x1phUruQ9g';
        var map = new mapboxgl.Map({
            container: 'big-map', // container id
            style: 'mapbox://styles/mapbox/light-v9', //stylesheet location
            center: [-118.242675, 34.053811], // starting position
            zoom: 11 // starting zoom
        });

        map.scrollZoom.disable();

        var data = {{ clinics|safe }};

        for (var i = 0; i < data.length; i++) {

        var val = data[i];

            if (val.hours[userDay.toLowerCase()] != false) {
                var openTime = +(val.hours[userDay.toLowerCase()].open.substring(0,2)+val.hours[userDay.toLowerCase()].open.substring(3,5));
                var closeTime = +(val.hours[userDay.toLowerCase()].close.substring(0,2)+val.hours[userDay.toLowerCase()].close.substring(3,5));
                var userTime = +(d.getHours().toString()+d.getMinutes().toString());
            }

            var markerStatus = (val.hours[userDay.toLowerCase()] === false) ? "marker-closed" :
                           (openTime < userTime && userTime < closeTime) ? "marker-open" : "marker-closed";

            var el = document.createElement('a');
            el.className = 'marker ' + markerStatus;
            el.href = val.href;
            new mapboxgl.Marker(el)
            .setLngLat([data[i].location[1],data[i].location[0]])
            .addTo(map);

        } 


    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock %}